// common style
.text-center {
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

.block-center-both {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.block-center-both-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-padding {
  padding: 0 5vw;
}

.bg-gray {
  background: #ecf1f6;
}

.bg-black {
  background: #000;
}

.bg-main-color {
  background: @themeColor;
}

.main-color {
  color: @themeColor;
}

.black-color {
  color: #000;
}

.full-screen-container {
  padding-top: 11vh;
  padding-bottom: 3vh;
}

.full-screen-height {
  height: 100vh;
}

.margin-top-md {
  margin-top: 40px;
}

.margin-top-lg {
  margin-top: 80px;
}

.white {
  color: #fff;
}

// special for the page
.navbar {
  padding: 0;
  height: 88px;
  background: rgba(0, 0, 0, 0.25);
  .logo-container {
    // display: flex;
    // align-items: center;
    // width: 300px;
    margin-top: -20px;
    display: inline-block;
    .prod-intro {
      width: 188px;
      padding: 0 0 0 10px;
      border-left: 1px solid #fff;
      color: #fff;
      margin-bottom: 0;
    }
  }
  .is-current {
    .nav-link {
      color: @themeColor;
    }
  }
  .nav-link {
    color: #fff;
    font-size: 14px;
  }
  .btn-group {
    float: right;
    .slash {
      color: #fff;
    }
    .lang-btn {
      background: none;
      border: none;
      color: #fff;
      &.selected {
        color: @themeColor;
      }
    }
  }
}

.speakers-container {
  background: #000;
  min-height: 100vh;
  .summit-speaker-img {
    width: 150px;
    height: 150px;
    background: gray;
  }
  .speakers-cards {
    width: 80%;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    .speaker-item {
      padding: 10px;
      padding-bottom: 0;
      border-radius: 3px;
      overflow: hidden;
      font-style: italic;
      .card-body {
        padding: 0.5rem 0;
      }
      .card-title {
        font-weight: 400;
      }
      .card-text {
        width: 85%;
        font-weight: bold;
        color: #000;
      }
      .contact-method-link {
        position: absolute;
        right: 1vw;
        bottom: 4.5vw;
      }
    }
  }
}

.agenda-container {
  min-height: 100vh;
  padding-bottom: 3vh;
  .title {
    position: relative;
    display: inline-block;
    font-size: 7vw;
    &:after {
      content: 'AELF SUMMIT';
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1vw;
      color: @themeColor;
    }
  }
  .subtitle {
    margin-top: 5vh;
  }
  .agenda-table {
    width: 60%;
    tr {
      > td {
        text-align: center;
        vertical-align: middle;
        width: 40%;
        &:first-child,
        &:last-child {
          width: 30%;
        }
      }
      &:nth-child(2n + 1) {
        > td {
          background: #292929;
          &:first-child {
            background: linear-gradient(to left, #02f3fc, #0243fb);
          }
        }
      }
      &:nth-child(2n) {
        > td {
          background: #000;
          &:first-child {
            background: linear-gradient(to left, #017a7e, #01227e);
          }
        }
      }
    }
  }
}

.partners-container {
  .partner-type {
    margin-bottom: 5vh;
    color: #89898a;
    font-style: italic;
    letter-spacing: 1vw;
    &:before,
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 23%;
      height: 2px;
      margin: 0 2vw;
      background: #babdc0;
    }
  }
  .partici-group {
    width: 80%;
    .partner-card {
      overflow: hidden;
      padding: 12px;
      .partner-logo {
        width: 80px;
      }
    }
  }
}

.venue-container {
  .amap-container {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    .amap-info-content {
      padding: 20px;
      color: #000;
      background: rgba(255, 255, 255, 0.6);
      font-weight: 400;
    }
    .amap-info-sharp {
      display: none;
    }
  }
  .zoom-tip-mask {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    line-height: 50vh; // todo: if the father element's height isn't fixed maybe we can only use flex?
    text-align: center;
    opacity: 0;
    transition: opacity ease-in-out 0.8s;
    background: #000;
    color: #fff;
    font-size: 50px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.contact-us-container {
  position: relative;
  height: 100vh;
  background: url('~@img/contact-us-bg-sm.jpg') no-repeat center center;
  background-size: cover;
  // .contact-methods {
  //   position: relative;
  //   .contact-item {
  //     position: absolute; // require to make it arrange as a circle
  //     top: 50%; // to make it align center
  //     left: 50%;
  //   }
  // }
  // .social-network-icon:hover {
  //   color: lightseagreen;
  //   cursor: pointer;
  // }
  // .center-item {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   .center-item-icon {
  //     font-size: 100px;
  //     color: lightseagreen;
  //   }
  // }
  .img-container {
    margin-right: 30px;
  }
  .contact-methods-container {
    width: 25%;
    .contact-title {
      color: #fff;
      font-style: italic;
    }
    .follow-us-container {
      padding: 2vh 0 0;
      border-top: 2px solid #81828c;
      border-bottom: 2px solid #81828c;
      .follow-word {
        color: #fff;
        font-weight: bold;
      }
      .contact-method-group {
        margin-bottom: 0;
        .contact-method-item {
          display: inline-block;
          width: 20%;
          text-align: center;
          margin-bottom: 20px;
          cursor: pointer;
          .svg-inline--fa:hover {
            color: dodgerblue;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 5;
  }
}

@media (max-width: 576px) {
  .navbar {
    .logo-container {
      height: 88px;
      margin-top: 0;
    }
    .navbar-toggler {
      margin-right: 10px;
    }
    .navbar-collapse {
      background: rgba(0, 0, 0, 0.25);
      .nav {
        .nav-item {
          width: 100%;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
  .full-screen-container {
    padding: 30px 0;
  }
  .agenda-container {
    .agenda-table {
      width: 90%;
    }
    .title {
      font-size: 20vw;
    }
  }

  .speakers-container {
    .speakers-cards {
      width: 95%;
      .speaker-item {
        box-sizing: border-box;
        width: 47%;
        &:nth-child(2n + 1) {
          margin-right: 4%;
        }
      }
    }
  }
  .partners-container {
    .partici-group {
      width: 90%;
      .partner-card {
        display: inline-block;
        width: 47%;
        &:nth-child(2n + 1) {
          margin-right: 4%;
        }
      }
    }
  }
  .contact-us-container {
    flex-direction: column;
    .img-container {
      margin-bottom: 20px;
    }
    .contact-methods-container {
      width: 80%;
    }
  }
  .page-title-container {
    .page-subtitle {
      font-size: 6.5vw !important;
    }
    .page-title {
      margin-top: 30px;
      font-size: 10vw !important;
    }
  }
  // improve the weight of style code below
  .modal-dialog {
    width: 80%;
    margin: 0 auto;
    .modal-content {
      background: url('~@img/mobile-modal-bg-sm.jpg') no-repeat center center;
      .modal-body {
        .modal-words {
          font-size: 15px;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.modal-content {
  padding: 30px 0 10px;
  background: #000;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  overflow: hidden;
  .modal-body {
    text-align: center;
    .modal-words {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 5px;
    }
    .modal-confirm-btn {
      font-size: 15px;
      padding: 10px 30px;
      letter-spacing: 5px;
      border: 1px solid @themeColor;
      &:hover {
        color: @themeColor;
      }
    }
    .img-container {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 320px) {
  .speakers-container .summit-speaker-img {
    width: 120px;
    height: 120px;
  }
}
