// common style
.text-center{
  text-align: center;
}

// special for the page
.navbar {
  background: rgba(0, 0, 0, 0.25);
  .navbar-nav {
    margin: 0 auto;
  }
}
.lang-btn {
  border-radius: 50%;
  background: lightgrey;
  border: none;
  margin-right: 5px;
  &.selected {
    background: lightslategrey;
  }
}

.home-container {
  padding-top: 150px;
  & > * {
    text-align: center;
  }
  .summit-title{
    font-size: 60px;
  }
  .summit-slogen{
    margin-top: 200px;
    font-size: 40px;
  }
  .summit-date-position{
    margin-top: 40px;
    .position-detail{
      margin-top: 20px;
    }
  }
}

.full-screen-container{
  padding-top: 100px;
}

.about-container{
  .about-title{
    margin-top: 20px;
  }
  .summit-intro-card{
    width: 60%;
    margin: 20px auto 0;
    padding: 60px;
    .bg-img{
      width: 200px;
      opacity: 0.5;
    }
  }
  .charact-group-container{
    margin-top: 40px;
    .charact-item-container{
      display: inline-block;
      width: 33%;
    }
  }
}
