// common style
.text-center {
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

.bg-gray {
  background: rgb(236, 241, 246);
}

.full-screen-container {
  padding-top: 100px;
}

.margin-top-md {
  margin-top: 40px;
}

.margin-top-lg {
  margin-top: 80px;
}

// special for the page
.navbar {
  background: rgba(0, 0, 0, 0.25);
  padding: 0 1rem;
  .is-current {
    .nav-link {
      color: white;
    }
  }
  .lang-btn {
    border-radius: 50%;
    background: lightgrey;
    border: none;
    margin-right: 5px;
    &.selected {
      background: lightslategrey;
    }
  }
}

.home-container {
  padding-top: 150px;
  & > * {
    text-align: center;
  }
  .summit-title {
    font-size: 60px;
  }
  .summit-slogen {
    margin-top: 200px;
    font-size: 40px;
  }
  .summit-date-position {
    margin-top: 40px;
    .position-detail {
      margin-top: 20px;
    }
  }
}

.about-container {
  .about-title {
    margin-top: 20px;
  }
  .summit-intro-card {
    width: 60%;
    margin: 20px auto 0;
    padding: 60px;
    .bg-img {
      width: 200px;
      opacity: 0.5;
    }
  }
  .charact-group-container {
    margin-top: 40px;
    .charact-item-container {
      display: inline-block;
      width: 33%;
    }
  }
}

.speakers-container {
  .summit-speaker-img {
    height: 200px;
    background: gray;
  }
  .speakers-cards {
    width: 80%;
    margin-top: 40px;
  }
}

.partners-container {
  .partici-group {
    width: 80%;
    .partner-card {
      overflow: hidden;
    }
  }
}

.venue-container{
  .amap-container{
    cursor: grab;
    &:active{
      cursor: grabbing;
    }
  }
  .zoom-tip-mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    line-height: 50vh; // todo
    text-align: center;
    opacity: 0;
    transition: opacity ease-in-out 0.8s;
    background: #000;
    color: #fff;
    font-size: 50px;
    &:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.contact-us-container{
  .social-network-icon:hover{
    color: lightseagreen;
    cursor: pointer;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 5;
  }
}
