.copyright-container {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  .official-website-link{
    text-decoration: none;
    &:visited{
      color: #fff;
    }
  }
}
